                                   <div class="panel {% if entry.user == g.user %}panel-default{% else %}panel-default{% endif %}">
                                   <div class="panel-heading">
                                       <div class="row">

                                           <div class="col-xs-3 col-md-2 text-center">

                                               {% if entry.user.photo %}
                                                   <img src="{{ entry.user.get_photo() }}" height="90" style="max-width: 90px" />
                                               {% endif %}

                                               <p style="margin-top: 10px;">
                                               {{ entry.user.first_name }} {{ entry.user.last_name }}
                                               </p>

                                           </div>

                                           <div class="col-xs-4 col-md-7">

                                               {{ entry.body }}

                                           </div>

                                           <div class="col-xs-3 col-md-1 text-center">

                                           {% if entry.user == g.user %}

                                               {% if entry.get_vote_count() > 0 %}
                                                   <i class="fa fa-fw fa-smile-o fa-3x" style="display: inline-block;"></i>
                                               {% elif entry.get_vote_count() == 0 %}
                                                   <i class="fa fa-fw fa-meh-o fa-3x" style="display: inline-block;"></i>
                                               {% else %}
                                                   <i class="fa fa-fw fa-frown-o fa-3x" style="display: inline-block;"></i>
                                               {% endif %}

                                               <span style="font-size: 3em;">{{ entry.get_vote_count() }}</span>
                                               </div>
                                               <div class="col-xs-2 col-md-2 text-right">
                                                   <form method="post" action="{{ url_for('admin.remove_entry', id=entry.id) }}">
                                                       {{ removeform.hidden_tag() }}
                                                       <button type="submit" class="btn btn-link delete-button" style="display: inline-block"><i class="fa fa-fw fa-trash"></i></button>
                                                   </form>

                                               </div>
                                           {% else %}

                                               <button type="button" id="upvote-{{ entry.id }}" class="upvote btn 

                                               {% for vote in entry.votes %}
                                                   {% if vote.from_userid == g.user.id %}
                                                       {% if vote.upvote %}
                                                           btn-success
                                                       {% endif %}
                                                   {% endif %}
                                               {% endfor %}"style="display: inline-block; margin-bottom: 4px"><i class="fa fa-fw fa-thumbs-up"></i></button><br />

                                               <button type="button" id="downvote-{{ entry.id }}" class="downvote btn
                                               {% for vote in entry.votes %}
                                                   {% if vote.from_userid == g.user.id %}
                                                       {% if not vote.upvote %}
                                                           btn-danger
                                                       {% endif %}
                                                   {% endif %}
                                               {% endfor %}" style="display: inline-block"><i class="fa fa-fw fa-thumbs-down"></i></button>

                                               </div>
                                               <div class="col-xs-2 col-md-2"></div>
                                           {% endif %}
                                       </div><!-- row -->
                                   </div><!-- well -->
                                   </div><!-- well -->
