{% extends "admin/base.html" %}

{% block content %}


                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">
                            Email Reminders
                        </h3>
                    </div>
                </div>

                <div class="row">

                    <form class="form-horizontal" role="form" method="post">

                        {{ reminder_form.hidden_tag() }}

                        <div class="form-group">

                            <label class="col-sm-3 control-label">Send me a reminder email every:</label>

                            <div class="col-sm-2">

                            {{ reminder_form.reminder_morning }} <label for="reminder_morning" style="font-weight: normal;">Morning</label>
                            {% for error in reminder_form.errors.reminder_morning %}
                                <span style="color: red;">[{{error}}]</span>
                            {% endfor %}<br />
                            {{ reminder_form.reminder_afternoon }} <label for="reminder_afternoon" style="font-weight: normal;">Afternoon</label>
                            {% for error in reminder_form.errors.reminder_afternoon %}
                                <span style="color: red;">[{{error}}]</span>
                            {% endfor %}<br />
                            {{ reminder_form.reminder_evening }} <label for="reminder_evening" style="font-weight: normal;">Evening</label>
                            {% for error in reminder_form.errors.reminder_evening %}
                                <span style="color: red;">[{{error}}]</span>
                            {% endfor %}

                            </div>

                            <label class="col-sm-4 control-label" for="weight_day">Remind me to record my weight every:</label>

                            <div class="col-sm-3">

                            {{ reminder_form.weight_day(class="form-control") }}
                            {% for error in reminder_form.errors.weight_day %}
                                <span style="color: red;">[{{error}}]</span>
                            {% endfor %}

                            </div>

                        </div>

                        <div class="form-group">

                            <div class="col-sm-2 col-sm-offset-2">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">
                                    Save
                                </button>
                            </div>

                        </div>

                    </form>

                </div>
                <!-- /.row -->

                {% if not g.user.social_id %}

                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">
                            Change Password
                        </h3>
                    </div>
                </div>

                <div class="row">

                    <form class="form-horizontal" role="form" method="post">

                        {{ form.hidden_tag() }}

                        <div class="form-group">

                            <label class="col-sm-2 control-label" for="oldpassword">Old Password</label>
                            <div class="col-sm-4">
                            {{ form.oldpassword(class="form-control", required="required", autofocus="autofocus") }}
                            {% for error in form.errors.oldpassword %}
                                <span style="color: red;">[{{error}}]</span>
                            {% endfor %}
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="col-sm-2 control-label" for="password">New Password</label>
                            <div class="col-sm-4">
                            {{ form.password(class="form-control", required="required") }}
                            {% for error in form.errors.password %}
                                <span style="color: red;">[{{error}}]</span>
                            {% endfor %}
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="col-sm-2 control-label" for="password2">Confirm New Password</label>
                            <div class="col-sm-4">
                            {{ form.password2(class="form-control", required="required") }}
                            {% for error in form.errors.password2 %}
                                <span style="color: red;">[{{error}}]</span>
                            {% endfor %}
                            </div>

                        </div>

                        <div class="form-group">

                            <div class="col-sm-2 col-sm-offset-2">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">
                                    Save
                                </button>
                            </div>

                        </div>

                    </form>

                </div>
                <!-- /.row -->

                {% endif %}

{% endblock %}
