{% extends "admin/base.html" %}

{% block content %}

                <div class="row">
                    <div class="center-block text-center">

                        <h1>Food Diary for <strong>{{ datestring }}</strong></h1>

                        <form method="get" id="datepicker-form">
                            <p>
                                <a href="{{ url_for('admin.home', date = yesterday) }}"><i class="fa fa-arrow-left"></i></a>
                                <input type="text" id="datepicker-input" class="datepicker form-control" value="{{ placeholder }}" name="date" style="width: 200px; display: inline; margin-right: 5px;" />
                                <a href="{{ url_for('admin.home', date = tomorrow) }}"><i class="fa fa-arrow-right"></i></a>
                                <i id="datepicker-icon" class="fa fa-calendar fa-2x"></i></a>
                            </p>
                        </form>

                        <form role="form" method="post">

                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                {{ form.body(placeholder="Enter food", class="form-control", required="required", autofocus="autofocus", style="display: inline; margin-right: 5px; margin-left: 55px; width: auto;") }}
                                <button class="btn btn-success" type="submit">Add food</button>
                            </div>

                        </form>

                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    {% include "admin/newsfeed.html" %}
                </div>
                <!-- /.row -->

{% endblock %}
