{% extends "admin/base.html" %}

{% block content %}

                <div class="row">
                    <div class="col-lg-offset-10 col-xs-offset-10 col-lg-2 col-xs-2 text-right">
                       <a href="{{ url_for('admin.new_message') }}" class="btn btn-lg btn-success" role="button">New Message</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-xs-12">

{% if messages %}
    {% if messages.total > 0 %}
        <hr />
        <div class="container-fluid">
            {% include "admin/_message_pagination.html" %}
            {% for message in messages.items %}
                {% include "admin/_message.html" %}
            {% endfor %}
            {% include "admin/_message_pagination.html" %}
        </div>
    {% else %}
    You currently have no messages.
    {% endif %}
{% endif %}

                    </div>
                </div>
                <!-- /.row -->

{% endblock %}

