                                           <tr>
                                           {% if entry.user == g.user %}
                                               <td valign="middle">
                                               {% if g.user.photo %}
                                                   <img src="http://s3-ap-southeast-2.amazonaws.com/foodlog-userphotos/{{ g.user.photo }}" height="60" width="45" />
                                               {% endif %}
                                               {{ g.user.first_name }} {{ g.user.last_name }}
                                               </td>
                                               <td valign="middle"><strong>{{ entry.body }}</strong></td>
                                               <td width="10%" align="center">

                                               {% if entry.get_vote_count() > 0 %}
                                                   <i class="fa fa-fw fa-smile-o fa-3x"></i>
                                               {% elif entry.get_vote_count() == 0 %}
                                                   <i class="fa fa-fw fa-meh-o fa-3x"></i>
                                               {% else %}
                                                   <i class="fa fa-fw fa-frown-o fa-3x"></i>
                                               {% endif %}

                                               <br /><strong>{{ entry.get_vote_count() }}</strong>
                                               </td>
                                               <td width="10%">
                                                   <form method="post" action="{{ url_for('main.remove_entry', id=entry.id) }}">
                                                       {{ removeform.hidden_tag() }}
                                                       <button type="submit" class="btn btn-danger delete-button" style="display: inline-block"><i class="fa fa-fw fa-trash"></i></button>
                                                   </form>
                                               </td>
                                           {% else %}
                                               <td valign="middle">
                                               {% if entry.user.photo %}
                                                   <img src="http://s3-ap-southeast-2.amazonaws.com/foodlog-userphotos/{{ entry.user.photo }}" height="60" width="45" />
                                               {% endif %}
                                               {{ entry.user.first_name }} {{ entry.user.last_name }}</td>
                                               <td valign="middle">{{ entry.body }}</td>
                                               <td width="10%">
                                               <button type="button" id="upvote-{{ entry.id }}" class="upvote btn 

                                               {% for vote in entry.votes %}
                                                   {% if vote.from_userid == g.user.id %}
                                                       {% if vote.upvote %}
                                                           btn-success
                                                       {% endif %}
                                                   {% endif %}
                                               {% endfor %}"style="display: inline-block; margin-bottom: 4px"><i class="fa fa-fw fa-thumbs-up"></i></button>
                                               <button type="button" id="downvote-{{ entry.id }}" class="downvote btn
                                               {% for vote in entry.votes %}
                                                   {% if vote.from_userid == g.user.id %}
                                                       {% if not vote.upvote %}
                                                           btn-danger
                                                       {% endif %}
                                                   {% endif %}
                                               {% endfor %}" style="display: inline-block"><i class="fa fa-fw fa-thumbs-down"></i></button>

                                               </td>
                                               <td width="10%">
                                               </td>
                                           {% endif %}
                                           </tr>
