{% extends "base.html" %}

{% block content %}

    <div class="container">

      <form class="form-signin" method="post">

        {{ form.hidden_tag() }}

        {% include "_flash.html" %}

        <h2 class="form-signin-heading">Forgot your password?</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        {{ form.email(placeholder="Email address", class="form-control", required="required", autofocus="autofocus") }}
        {% for error in form.errors.email %}
           <span style="color: red;">[{{error}}]</span>
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset my password</button>
      </form>

    </div> <!-- /container -->

{% endblock %}
