{% extends "base.html" %}

{% block content %}

                <div class="row">

                    <div class="col-lg-6">
                        <h1>Friends</h1>

                        {% if g.user.friends %}
                            {% if g.user.friends.count() > 0 %}

                                {% for friend in g.user.friends %}
                                    {{ friend.first_name }} {{ friend.last_name }}<br />
                                {% endfor %}

                            {% else %}

                                <p>You haven't linked up with any friends yet!</p>

                            {% endif %}

                        {% endif %}

                    </div>

                    <div class="col-lg-6">

                        <h1>Share your diary with a friend</h1>

                        <form role="form" method="post">

                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                {{ form.email(placeholder="Enter your friend's email address", class="form-control", required="required") }}
                                <br />
                                <button class="btn btn-lg btn-success" type="submit">Send invitation</button>
                            </div>

                        </form>

                    </div>

                </div>
                <!-- /.row -->

{% endblock %}
