{% extends "base.html" %}

{% block content %}

    <div class="container">

      <form class="form-signin" method="post" action="{{ url_for('main.reset_password', token=token) }}">

        {% include "_flash.html" %}

        {{ form.hidden_tag() }}

        <h2 class="form-signin-heading">Reset your password</h2>

        <!--
        <label>Email Address</label>
        <p class="form-control-static">{{ user.email }}</p>
        -->

        <label for="inputPassword" class="sr-only">New Password</label>
        {{ form.password(placeholder="New password", class="form-control", required="required") }}
        {% for error in form.errors.password %}
           <span style="color: red;">[{{error}}]</span>
        {% endfor %}

        <label for="inputPassword2" class="sr-only">Confirm Password</label>
        {{ form.password2(placeholder="Confirm password", class="form-control", required="required") }}
        {% for error in form.errors.password2 %}
           <span style="color: red;">[{{error}}]</span>
        {% endfor %}

        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>

      </form>

    </div> <!-- /container -->

{% endblock %}
